* {
	padding: 0px;
	margin: 0%;
	box-sizing: border-box;
}
body{
	font-family: 'Rubik', sans-serif;
}
header{
	display: flex;
    align-items: center;
    padding: 20px 40px;

}

header img{
	width: 400px;


}
nav ul{
	display: flex;
	list-style-type: center;
	gap: 30px;
}
nav ul li{

	
}
nav ul li a{
	font-size: 60px;
	color: #000;
	
}
a{

}
.icon { 
	display: none;
}
section{

}
.principal{
	background-image: url(../images/light_header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	padding: 150px;
	
}
.principal div img{
	width: 100%;
	display: block;
}
.principal div h2{
	font-size: 60px;
	margin-top: 60px;
	color: blanchedalmond;
}
.secundario{
	display: flex;
	
}
.secundario div{
	width: 30%;
	margin: 0 1.5%;
	
}
.secundario div a img{
	width: 100%;
	display: flex;
}
h4{
}
footer{
	display: flex;
	justify-content: center;
	padding: 20px;


}
footer img{
	width: 40px;
	margin: 0 10px;
}


@media (max-width: 480px) { 

}